@import 'tailwindcss';

:root {
  --color-background: #ffffff;
  --color-foreground: #000;
  --color-muted: #666;
  --color-subdued: #999;
  --color-faint: #ccc;
  --color-diminished: #eee;

  --site-container: 1216px;
  --nav-height: 3rem;
  --gutter: 1.25rem;
  --head: 2rem;
  --foot: 12rem;

  --button-height: 40px;
  --input-height: 40px;
}

@media (min-width: theme(screens.lg)) {
  :root {
    --gutter: 2rem;
  }
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-muted: var(--color-muted);
  --color-subdued: var(--color-subdued);
  --color-faint: var(--color-faint);
  --color-diminished: var(--color-diminished);

  --spacing-site-container: var(--site-container);
  --spacing-nav-height: var(--nav-height);
  --spacing-gutter: var(--gutter);

  --spacing-head: var(--head);
  --spacing-foot: var(--foot);

  --spacing-input-height: var(--input-height);
  --spacing-button-height: var(--button-height);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Type Scale
*/

/* Lead */
.type-lead,
.type-lead-bold {
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.type-lead {
  font-weight: 600;
}
.type-lead-bold {
  font-weight: 800;
}

/* Heading */
.type-heading,
.type-heading-bold {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.type-heading {
  font-weight: 500;
}
.type-heading-bold {
  font-weight: 700;
}

/* Subheading */
.type-subheading,
.type-subheading-bold {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.type-subheading {
  font-weight: 500;
}
.type-subheading-bold {
  font-weight: 700;
}

/* Paragraph */
.type-paragraph,
.type-paragraph-bold {
  font-size: 1rem;
  line-height: 1.5rem;
}
.type-paragraph {
  font-weight: 400;
}
.type-paragraph-bold {
  font-weight: 600;
}

/* Body */
.type-body,
.type-body-bold {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.type-body {
  font-weight: 400;
}
.type-body-bold {
  font-weight: 600;
}

/* Detail */
.type-detail,
.type-detail-bold {
  font-size: 0.75rem;
  line-height: 1rem;
}

.type-detail {
  font-weight: 400;
}
.type-detail-bold {
  font-weight: 600;
}

/*
Rich Text
*/

.rich-text {
  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 1rem;
  }

  ul,
  ol {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: disc;
    list-style-position: outside;
    padding-left: 1rem;
  }

  ol {
    list-style: decimal;
    list-style-position: outside;
    padding-left: 1rem;
  }

  a {
    color: var(--color-subdued);
    transition: color 150ms ease-in-out;
    &:hover {
      color: var(--color-foreground);
    }
  }

  img {
    margin-top: 1rem;
  }
}
